@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

body {
  min-height: 100vh;
  height: 100%;
  background: #1c1c1c;
}

img {
  max-width: 100%;
}

button {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  background: linear-gradient(
    90deg,
    rgba(132, 53, 222, 1) 0%,
    rgba(184, 84, 232, 1) 100%
  );
  border: none;
  border-radius: 3rem;
  transition: 0.25s;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(
    90deg,
    rgba(132, 53, 222, 1) 100%,
    rgba(184, 84, 232, 1) 0%
  );
}
