.button {
  padding: 0.8rem 1rem;
  width: 10em;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.25s;
}

.button:hover {
  background: #bebebe;
}

@media screen and (max-width: 650px) {
  .button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    margin: 0.5rem 0;
    width: 100%;
  }
}
