.form-container {
  margin: 1.6rem 0 0;
}

.label {
  font-size: 1.125rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.765);
}

.input {
  margin: 0.5rem 0 3rem;
  padding: 0.8rem 1rem;
  width: 100%;
  font-size: 1rem;
  border: 1px solid #bfbaba;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.165);
  outline: none;
  transition: all 0.25s ease-in-out;
}

.input:hover {
  background: #f3f0f0;
}

.input::placeholder {
  font-style: italic;
}

@media screen and (max-width: 650px) {
  .form-container {
    margin: 1.575rem 0 0;
  }

  .label {
    font-size: 1rem;
  }

  .input {
    margin: 0.5rem 0 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
