.send-container {
  text-align: center;
  margin: 0 0 1.125rem;
}

.send-title {
  font-size: 2.125rem;
  margin: 0 0 1rem;
}

.send-info {
  margin: 1rem 0rem 1.5rem;
  font-weight: 500;
  color: #483d3d;
}

.info {
  margin: 0 0 0.5rem;
}

.send-subtitle {
  font-size: 1.425rem;
  margin: 0 0 1rem;
}

.review-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 0 0.25rem;
}

.product-review {
  font-weight: 700;
}

@media screen and (max-width: 650px) {
  .send-title {
    font-size: 1.425rem;
    margin: 1.725rem 0 0;
  }

  .send-info {
    margin: 0.5rem 0 1rem;
    font-weight: 500;
  }

  .info {
    font-size: 0.885rem;
    line-height: 1.375;
    margin: 0 0 0.725rem;
  }

  .send-subtitle {
    font-size: 1.225rem;
    margin: 0 0 1rem;
  }

  .review-box {
    display: block;
  }

  .review-box span {
    font-size: 0.885rem;
  }
}
