.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.container {
  padding: 2rem;
  border: none;
  border-radius: 5px;
  min-width: 50%;
  min-height: 20rem;
  background: hsla(0, 0%, 8%, 0.951);
  color: #fff;
}
