.button {
  padding: 0.8rem 1rem;
  width: 10em;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  background: #000000;
  color: #fff;
  cursor: pointer;
  transition: 0.25s;
}

.button:hover {
  animation: bouncer 1s ease infinite;
  background: #1b1b1b;
}

@keyframes bouncer {
  30% {
    transform: scale(1.0525);
  }

  40%,
  60% {
    transform: rotate(-5deg) scale(1.0525);
  }

  50% {
    transform: rotate(5deg) scale(1.0525);
  }

  70% {
    transform: rotate(0deg) scale(1.0525);
  }

  100% {
    transform: scale(1);
  }
}
